<div class="row">
    <table class="highlight bordered striped responsive-table">
        <thead>
        <tr>
            <th>Alias</th>
            <th>Root Port</th>
            <th>Remote Host</th>
            <th>Client Port</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proxy in proxies">
            <td><a href="#/proxy/{{proxy.clientName}}/{{proxy.clientIp}}/{{proxy.clientPort}}">{{proxy.clientName}}</a>
            </td>
            <td>{{proxy.rootClientPort}}</td>
            <td>{{proxy.clientIp}}</td>
            <td>{{proxy.clientPort}}</td>
        </tr>
        </tbody>
    </table>
</div>

