<div class="row">
    <div class="col s1">
        <h5 class="left">Overview</h5>
    </div>
</div>
<div class="row">
    <div class="col s3">
        <h6>{{proxy.clientName}} @ {{proxy.clientPort}}</h6>
    </div>
    <div class="col s3">
        <h6>remote host: {{proxy.clientIp}}</h6>
    </div>
</div>
<div class="row">
    <div class="chart-container col s6">
        <canvas chart-data="received" chart-labels="labels" chart-options="options"
                class="chart chart-line chart-xl ng-isolate-scope" id="received-chart" style="height:300px"></canvas>
    </div>
    <div class="chart-container col s6">
        <canvas chart-colours="sentColors" chart-data="sent" chart-labels="labels" chart-options="options"
                class="chart chart-line chart-xl ng-isolate-scope" id="sent-chart" style="height:300px"></canvas>
    </div>
</div>
<div class="row">
    <div class="col s6 center-align">Bytes received (Kb)</div>
    <div class="col s6 center-align">Bytes sent (Kb)</div>
</div>
<div class="row">
    <div class="col s1"></div>
</div>

